<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
  <form action="" method="post">
    <div >
      <label>Title</label>
      <div>
        <input name="title" type="text" >
        <input name="tags" type="text" value="请用英文'#'隔开标签">
      </div>
    </div>
    <div>
      <label>Content</label>
      <div>
        <textarea id="content" name="content">Please write here</textarea>
      </div>
    </div>
    <div>
      <div>
        <button type="submit">Create</button>
        <a href="{{ url_for('article') }}">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}