{% extends "base.html" %}

{% block userinfo %}
<aside class="sidebar">
  <div class="widget">
    <h2>
      <p>欢迎光临 {{user.user_name}} 大人    <a href="/logout">登出</a></p>
    </h2>
  </div>
</aside>
{% endblock %}

{% block content %}
<div class="blog">
  <form action="" method="post">
    <div class="conteudo">

      <label>标题</label>

      <div>
        <input name="title" type="text" value="{{post.title}}" class="editbox"><br>
        <input name="tags" type="text" value="{{post.tags}}" class="editbox">
      </div>

      <label>正文</label>

      <div> 
        <textarea id="content" name="content" class="textarea">{{post.content}}</textarea>
      </div>

      <div>
        <button type="submit">update</button>
        <a href="{{ url_for('article') }}">Cancel</a>
      </div>

  </form>
</div>
{% endblock %}
